# API keys and config
DEEPSEEK_BASE_URL = "https://api.deepseek.com" 
DEEPSEEK_API_KEY= "sk-xxx"
DEEPSEEK_MODEL_NAME = "deepseek-chat" 

OPENROUTER_BASE_URL = "https://openrouter.ai/api/v1" 
OPENROUTER_API_KEY = "sk-or-xxx"
OPENROUTER_MODEL_NAME = "openai/gpt-4o" 

# Bohrium credentials
BOHRIUM_USERNAME="linhang@dp.tech"
BOHRIUM_PASSWORD="DP123456"
BOHRIUM_PROJECT_ID="21128"

# Jina AI Search API
JINA_API_KEY="jina_xxx"


# Local dataset path
MP_ROOT_DIR=mp_materials_cif

MCP_SERVER_URL=http://127.0.0.1:8001/sse