__pycache__
__MACOSX
.env
.venv
*.egg-info
mp_materials_cif
mp_materials_cif.zip
lh_test.ipynb
job.json
camel/
.DS_Store
dpdispatcher.log
science-agent-sdk
.material-compute-googleadk.py
/tmp
# 忽略 server 文件夹下的时间戳命名文件
/server/[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]:[0-9][0-9]:[0-9][0-9].[0-9]*